# Dependencies - Prevents uploading thousands of package files
node_modules

# Environment Variables - Protects your MongoDB password
.env

# Firebase Service Account Key - Protects your Firebase project admin key
serviceAccountKey.json
.vercel
